.container-navbar{
    background-color: #2580eb;

    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    top: 0%;

    height: 100%;
    max-height: 160px;
    width: 100%;
    
    margin-right: 20px;
    
}

.container-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container-navbar li{
    position: relative;
    float: left;

    list-style: none;
    color: #ffff;
    font-size: clamp(0.4em + 0.4vw, 0.8em + 0.8vw, 1.2em + 1.2vw);
}

.container-navbar a{
    display: block;
    padding: 10px;
    color: #ffff;
    text-decoration: none;
}

.img{
    width: 25%;
    max-height: 80%;
    min-height: 50%;
    min-width: 350px;
    max-width: 500px;
    margin-left: 20px;
}

.links-navbar{
    width: 40%;
    min-width: 250px;
    max-width: 600px;
    -webkit-background-composite: border;
}

.links-navbar a{
   transition: filter 300ms;
}

.links-navbar a:hover{
    border-radius: 10px;
    background: #5591d6;
    filter: brightness(1.2);
    cursor: pointer;
}


.access-navbar{
    width: 25%;
    min-width: 300px;
    height: 100%;
    font-size: clamp(0.4em + 0.4vw, 0.4em + 0.5vw, 0.4em + 0.7vw);
    margin-right: 20px;
    margin-top: 0;

    display: flex;
    flex-direction: column;

    align-items: flex-end;
    color: #ffff;
}

.access-navbar form{
    display: flex;

    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.access-navbar p{
    display: flex;
    margin-right: 15px;
    margin-top: 5px;
    max-height: 100%;
    margin-bottom: 3px;
}

.access-navbar a{
    color: rgb(207, 204, 204);
    margin-left: 10px;
    
    transition: filter 300ms;
}

.access-navbar a:hover{
    /* color: rgb(192, 187, 187); */
    filter: brightness(1.2);
    margin-left: 10px;
}

.inputs-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 100%;
    padding-bottom: 5px;
}

.inputs-navbar input{
    border-style: none;
    padding: 5px;
    margin: 4px;
    width: 80%;
    min-width: 60%;
    max-width: 80%;
    height: 10%;
    max-height: 30px;
    border-radius: 10px;
}

.inputs-navbar input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.inputs-navbar button{
    box-shadow: none;
    border-radius: 10px;
    border-style: none;
    color: #ffff;
    background: #4c9af3;
    height: 10%;
    width: 60%;
    margin: 5px 5px 0px 0px;
}

.inputs-navbar button:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: #6eabf0;
}

.inputs-navbar button:hover{
    cursor: pointer;
    transition: 0.2ms;
    background-color: #6eabf0;
}

.profile-container{
    display: flex;
    flex-direction: row;
    
    float: left;

    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    max-width: 400px;

}

.profile-container img{
    max-height: 100%;
    max-width: 20%;
    border-radius: 50%;
}

.profile-container div{
    margin-left: 5px;
}

.profile-container h3{
    margin: 0;
    width: 100%;
}

.profile-container p{
    margin: 0;
    width: 100%;
}

.profile-settings{
    width: 50%;
    background-color: transparent;

    display: flex;
    align-items: flex-start;
}

.profile-settings:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.profile-settings img{
    width: 100%;
    height: 100%;

    transition: opacity 200ms;
}

.profile-settings img:hover{
    opacity: 80%;
}

.text-dont{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 5%;
    width: 100%;
    padding: 0%;
    margin: 0px 0px 5px 0px;
}

.text-dont a{
    padding: 0px!important;
    margin-right: 5%;

}
